.game__grid{
  width: 600px;
  height: 600px;
  border: solid black 2px;
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px  1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
}

.game__tile{
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__tile--accessible{
  background-color: greenyellow; 
}

.game__wall{
  border: solid rgb(0, 128, 0) 1px;
}

.game__character{
  width:30px;
  height:30px;
  border: dotted red 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  font-size: 12px;
}

.game__character img{
  transform: scaleX(-1);
}
.game__wall--clicked{
  background-color: rgb(24, 15, 4);
}

.--hover{
  background-color: rgb(24, 15, 4);
  opacity: 0.3;
}
