@keyframes jumpRight {
  0%   { transform: translateY(0) translateX(0); }
  25%  { transform: translateY(-60px) translateX(62.1px); }
  52%  { transform: translateY(-70px) translateX(99.3px); }
  61%  { transform: translateY(-68px) translateX(110px); }
  70%  { transform: translateY(-55px)  translateX(124px); }
  80%  { transform: translateY(0) translateX(138px); }
  100% { transform: translateY(0) translateX(138px); }
}

@keyframes jumpLeft {
  0%   { transform: translateY(0) translateX(0); }
  25%  { transform: translateY(-60px) translateX(-62.1px); }
  52%  { transform: translateY(-70px) translateX(-99.3px); }
  61%  { transform: translateY(-68px) translateX(-110px); }
  70%  { transform: translateY(-55px)  translateX(-124px); }
  80%  { transform: translateY(0) translateX(-138px); }
  100% { transform: translateY(0) translateX(-138px); }
}
/* 190px */
@keyframes jumpUp {
  0%   { transform: translateY(0) translateX(0); }
  25%  { transform: translateY(-160px) translateX(0); }
  52%  { transform: translateY(-190px) translateX(0);
        z-index:0; 
       }
  61%  { transform: translateY(-160px) translateX(0);  
    z-index:0; 
  }
  70%  { transform: translateY(-138px)  translateX(0); 
    z-index:0; 
  }
  100% { transform: translateY(-138px)  translateX(0);  
    z-index:0; 
  }
}

@keyframes jumpDown {
  0%   { transform: translateY(0) translateX(0); }
  25%  { transform: translateY(-30px) translateX(0); }
  52%  { transform: translateY(70px) translateX(0); }
  61%  { transform: translateY(85px) translateX(0); }
  70%  { transform: translateY(138px)  translateX(0); }
  100% { transform: translateY(138px)  translateX(0); }
}

@keyframes jumping {
  to {
    transform: translateY(-5px)
  }
}

.game__backButton{
  position: absolute;
  top:20px;
  left:20px;
  cursor: pointer;
}

.game__timer{
  position: absolute;
  font-family: "VT323", regular;
  font-size: 60px;
  color: #6FC149;
  top:150px;
  left:50px;
  text-align: center;
}
.backButton__img{
  width:40px;
}
.game__grid{
  width: 600px;
  height: 600px;
  border: solid  rgba(247, 247, 247, 0.8) 10px;
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px  1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.game__tile{
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.7);
  padding: solid #B580BD;
}
.game__tile--accessible{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.game__wall{
  background-color: rgba(247, 247, 247, 0.8);
}

.game__character{
  position: relative;
  width:90px;
  height:90px;
  border-radius: 50%;
  margin-top: -50px;
  font-size: 12px;
  z-index: 1;
}

.player1__picture, .player2__picture{
  width: 90px;
  height: 90px;
}
.player1__picture{
  transform: scaleX(-1);
}

.morty{
  background-image: url('../assets/img/morty.gif');
}
.red{
  background-image: url('../assets/img/roux.gif');
}
.martien{
  background-image: url('../assets/img/martien.gif');
}
.choubab{
  background-image: url('../assets/img/choubab.gif');
}

.game__wall--clicked.game__wall--horizontal{
  background-image: url('../assets/img/Laser3.gif');
  background-size: cover;
  background-position: center;
}
.game__wall--clicked.game__wall--vertical{
  background-image: url('../assets/img/Laser3-vertical.gif');
  background-size: cover;
  background-position: center;
}

.--hover{
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
}

.--jumpRight{
  animation: jumpRight 0.6s normal forwards linear;
  animation-delay: 0.3;
  z-index: 100;
}

.--jumpLeft{
  animation: jumpLeft 0.6s normal forwards linear;
  animation-delay: 0.3;
  z-index: 100;
}

.--jumpUp{
  animation: jumpUp 0.6s normal forwards linear;
  animation-delay: 0.3;
  z-index: 100;
}

.--jumpDown{
  animation: jumpDown 0.6s normal forwards linear;
  animation-delay: 0.3;
  z-index: 100;
}

.empty{
  background-color:  rgba(247, 247, 247, 0.8);
}

.--playing {
  .arrow { 
  position: absolute;
  display: initial;
  animation: jumping 1s ease 0s infinite alternate none running;
  }
}

.arrow {
  position: absolute;
  top: -30px;
  left: 27px;
  width: 30px;
  height: 30px;
  display: none;
}